<div class="grid grid-cols-5 gap-6 p-4">
  @for (product of products(); track product.id) {
    <ng-card class="hover:scale-105 transition-all duration-300 h-full">
      <div class="flex flex-col justify-between h-full">
        <div class="flex justify-center items-center">
          <img [src]="product.img" alt="" class="w-full h-[150px] object-cover" />
        </div>

        <div class="mt-4 min-h-[150px]">
          <p class="font-black text-xl">{{ product.name }}</p>

          <ng-rating [rating]="product.rating" (ratingChange)="onRatingChange(product.id, $event)" class="block mb-[5px]" />

          <div class="flex items-center gap-2">
            <p class="text-xl font-extrabold">{{ product.priceWithDiscount | currency }}</p>
            <p class="text-gray-500 font-extrabold line-through">{{ product.price | currency }}</p>

            <span class="bg-red-200 text-red-600 p-2 text-md rounded-2xl font-bold">-{{ product.discount / 100| percent: '1.0-0' }}</span>
          </div>

          <p class="text-gray-500 text-lg h-[40px]">{{ product.description }}</p>

          <div class="flex items-center gap-1 mb-3 mt-5">
            <p class="text-gray-500" [class.line-through]="!product.stock">{{ product.stock ? product.stock : 0 }} in stock</p>
            @if (!product.stock) {
              <p class="text-red-500">SOLD OUT</p>
            }
          </div>
        </div>

        <ng-button label="ADD TO CART" [filled]="true" [full]="true" (click)="onAddToCart(product.id)" />
      </div>
    </ng-card>
  }
</div>